
.simple-menu {
  background-color: #fff;
  z-index:999999;
  box-shadow: 0 7px 17px -2px rgba(117, 117, 117, 0.1);
}

.simple-menu ul {
  -webkit-padding-start: 0px;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

.jumbotron.first {
  margin: 0 30px;
  padding: 20px 30px;
}

.btn-menu {}

.btn-menu:hover {
  color: #fff;

}

.simple-menu li {padding: 19px 0;display:inline-block;}

.simple-menu ul a {
  padding: 20px;
  color: #2f2f2f;
}

.simple-menu a:hover {
    color: #2ba858;
}

.fixed {
  box-shadow: 0 7px 17px -2px rgba(117, 117, 117, 0.1);
}

.clearfix {
  *zoom: 1;
}

.clearfix:before, .clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}

.clearfix:after {
  clear: both;
}

.nav-underline {}

/*.content {
  min-height: calc(100vh - 70px);
}*/


@media screen and (max-width: 500px) {
  .simple-menu ul {
    background-color: #fff;
  }
  .simple-menu li {
    text-align: center;
	display:inline-block !important;
	width: 32.33%;
  }
  .simple-menu .submenu-price a {
	width: auto;
	padding:20px 7px;
	font-size:12px;
	font-weight:500;
  }
  .simple-menu .submenu-price{
	width: auto;
  }
  
  .simple-menu a {
    border-bottom: none;
  }
  .btn-menu {
    text-align: center;
    padding: 20px;
    color: #f8ecc2;
  }
}
